<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
    <link rel="stylesheet" href="../static/cal.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="script.js"></script>
</head>
<body>
    <header>
            <!--Our hero area here-->
    </header>>

    <div id="calendar-wrap">
        <div id="calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date"></div>
                <i class="fas fa-angle-right next"></i>
            </div>  

            <div class="weekdays">
                <div>Sunday</div>
                <div>Monday</div>
                <div>Tuesday</div>
                <div>Wednesday</div>
                <div>Thursday</div>
                <div>Friday</div>
                <div>Saturday</div>
            </div>
            <!--Prior Months-->
            <div class="days"></div>
        </div>
    </div>

   


</body>
<html>