<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/site.css">
    <title></title>
</head>
<body>
    <header>
        <div class="topbar">
            <a href="/profile">Profile</a>
            <a href="/feed">Social Feed</a>
            <a class="active" href="/challengelist">Available Challenges</a>
            <a href="/">Logout</a>
        </div>
        <div>
            <img src="../static/banner.png" class="center">
        </div>
    </header>

    <div class="galwall">
        <figure>
            <img src="../static/icon1.jpg">
            <figurecaption>Get out in the fresh air and take a walk! Take a bag with you and see how much plastic you can find.</figurecaption>
        </figure>
        <figure>
            <img src="../static/icon2.jpg">
            <figurecaption>Reduce your use of bottled water by carrying your own refillable water bottle.</figurecaption>
        </figure>
        <figure>
            <img src="../static/icon4.jpg">
            <figurecaption>Grow your own garden – or lobby your local community to build a community garden. </figurecaption>
        </figure>
        <figure>
            <img src="../static/icon5.jpg">
            <figurecaption>Take a break from weeding. Have dandelions or other flowers growing in your lawn? Let them stay so that bees have food.</figurecaption>
        </figure>
        <figure>
            <img src="../static/icon6.jfif">
            <figurecaption>
                Reduce your energy consumption. Unplug electronics when not in use, switch to energy efficient appliances, and purchasing
                energy efficient light bulbs are just a few ways you can reduce your energy usage.
            </figurecaption>
        </figure>
        <figure>
            <img src="../static/icon7.jpg">
            <figurecaption>Reduce your gas emissions. Carpool, ride your bike, or take public transportation are all great ways to reduce your GHG emissions. </figurecaption>
        </figure>
        <figure>
            <img src="../static/icon8.png">
            <figurecaption>Learn how to compost. Composting your organic food scraps is a great way to build the health of your soil and connect with nature.</figurecaption>
        </figure>
        <figure>
            <img src="../static/icon9.jpg">
            <figurecaption>Educate others on the amount of food wasted, and the ways they too can make an impact. </figurecaption>
        </figure>
        <figure>
            <img src="../static/icon10.jpg">
            <figurecaption>Support local and global agendas that preserve natural resources and parks. The more land that’s protected – the less that’s available for sprawl.    </figurecaption>
        </figure>
    </div>
</body>
</html>