<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/site.css">
    <title></title>
</head>
<body>
    <header>
        <div class="topbar">
            <a href="/profile">Profile</a>
            <a class="active" href="/feed">Social Feed</a>
            <a  href="/challengelist">Available Challenges</a>
            <a href="/">Logout</a>
        </div>
        <div>
            <img src="../static/banner.png" class="center">
        </div>
    </header>
</body>
</html>