<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/site.css">
        <title>CompPost</title>
    </head>

    <body>
        <header>
            <div class="topbar">
                <a class="active" href="/index.html">Home</a>
                <a href="/about.html">About</a>
                <a href="/challenges.html">Challenges</a>
                <a href="/login.html">Login</a>
            </div>
            <div>
                <img src="../static/banner.png" class="center">
            </div>
        </header>

        <div class="row">
            <div class="columnC1">
                <h2>Welcome To CompPost!</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales lorem a urna dapibus sollicitudin. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis egestas. Nunc dapibus eros eu nibh laoreet placerat. Sed nec cursus eros, congue
                    faucibus dui. Donec eget luctus nisl, non finibus mi. Vivamus imperdiet neque ultricies nisi imperdiet, quis dignissim est fringilla. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus. Nulla maximus at odio in vestibulum. Etiam euismod, diam in malesuada convallis, mauris
                    eros sodales lacus, quis posuere urna dui et sem. Phasellus venenatis nulla suscipit ultricies bibendum. Donec sagittis sapien non urna luctus
                    scelerisque. Vivamus viverra mauris non justo malesuada, et bibendum tellus dignissim.
                </p>
                <p>
                    Vestibulum condimentum tempus auctor. Curabitur dapibus fermentum ullamcorper. Ut a leo tortor. Nullam at risus vel lectus consectetur lacinia.
                    Suspendisse posuere purus nec lobortis pulvinar. Nullam a nibh nulla. In sit amet laoreet ipsum, laoreet bibendum arcu. Suspendisse vitae libero
                    et lectus malesuada finibus.
                </p>
            </div>
            <div class="column">

            </div>
        </div>




        <div class="row">
            <div class="column"> </div>
            <div class="columnC2">
                <h2>The current issue</h2>
                <p>
                    Aenean ornare mauris non felis facilisis, nec maximus erat imperdiet. Integer at elementum erat. Suspendisse laoreet, felis vel fringilla
                    porttitor, nunc dolor laoreet justo, nec accumsan nunc nulla eu risus. Aenean et molestie quam. Quisque id aliquam tellus. Donec sit amet
                    dolor in justo malesuada lobortis ut vitae felis. Donec dolor velit, dapibus in nisi sit amet, consectetur scelerisque mauris. Cras efficitur
                    bibendum purus, et convallis magna posuere vitae. Vivamus venenatis ac orci in gravida. Vivamus molestie libero quis urna tempor, in mollis
                    quam maximus. Fusce vel condimentum quam. Donec efficitur tellus in nunc bibendum, vel venenatis diam condimentum. Aenean ultrices, ipsum ut
                    finibus scelerisque, dolor metus posuere augue, in fringilla enim purus et est. Nam condimentum posuere efficitur. Fusce in ultrices nisl, eu
                    pulvinar elit. Aenean neque nisl, elementum id mi a, commodo pharetra risus.
                </p>
                <p>
                    Vestibulum condimentum tempus auctor. Curabitur dapibus fermentum ullamcorper. Ut a leo tortor. Nullam at risus vel lectus consectetur lacinia.
                    Suspendisse posuere purus nec lobortis pulvinar. Nullam a nibh nulla. In sit amet laoreet ipsum, laoreet bibendum arcu. Suspendisse vitae libero
                    et lectus malesuada finibus.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="columnC1">
                <h2>How you can change the world</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sodales lorem a urna dapibus sollicitudin. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis egestas. Nunc dapibus eros eu nibh laoreet placerat. Sed nec cursus eros, congue
                    faucibus dui. Donec eget luctus nisl, non finibus mi. Vivamus imperdiet neque ultricies nisi imperdiet, quis dignissim est fringilla. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus. Nulla maximus at odio in vestibulum. Etiam euismod, diam in malesuada convallis, mauris
                    eros sodales lacus, quis posuere urna dui et sem. Phasellus venenatis nulla suscipit ultricies bibendum. Donec sagittis sapien non urna luctus
                    scelerisque. Vivamus viverra mauris non justo malesuada, et bibendum tellus dignissim.
                </p>
                <p>
                    Vestibulum condimentum tempus auctor. Curabitur dapibus fermentum ullamcorper. Ut a leo tortor. Nullam at risus vel lectus consectetur lacinia.
                    Suspendisse posuere purus nec lobortis pulvinar. Nullam a nibh nulla. In sit amet laoreet ipsum, laoreet bibendum arcu. Suspendisse vitae libero
                    et lectus malesuada finibus.
                </p>
            </div>
            <div class="column">

            </div>
        </div>
    </body>
</html>
<!-- 
What is on the homepage:
    -navigation bar
    -home page image
    -breif summary/goals of the website
    -benifits of use
    -information about the envirnoment
    
-->