<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/site.css">
        <title>Brendon will name this</title>
    </head>

    <body>
        <header>
            <div class="topbar">
                <a class="active" href="/index.html">Home</a>
                <a href="/about.html">About</a>
                <a href="/challenges.html">Challenges</a>
                <a href="/login.html">Login</a>
            </div>
            <div>
                <img src="../static/banner.png" class="center">
            </div>
        </header>
        
        <div>
            <h2>What is CompPost</h2>
            <p> Information will go here</p>
        </div>
    </body>
</html>
<!-- 
What is on the homepage:
    -navigation bar
    -home page image
    -breif summary/goals of the website
    -benifits of use
    -information about the envirnoment
    
-->